<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861413417966-b2rjh5m350gr7rmeerdp78fp2nlq72lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861413417966-b2rjh5m350gr7rmeerdp78fp2nlq72lb</string>
	<key>API_KEY</key>
	<string>AIzaSyBGpf7OAeCpH7RxZnjk5TgcnjIx5OblWQs</string>
	<key>GCM_SENDER_ID</key>
	<string>861413417966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team1os.teamplan</string>
	<key>PROJECT_ID</key>
	<string>teamplan-378214</string>
	<key>STORAGE_BUCKET</key>
	<string>teamplan-378214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861413417966:ios:34d447daa0b5e99d9be4ff</string>
</dict>
</plist>